{% extends 'sales_force_app/main_template.html' %}
{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Opportunities</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Account</th>
					<th>Primary Contact</th>
				</tr>
				{% for opportunity in opportunities %}
					<tr>
						<td><a href="{% url 'show_opportunity' opportunity.opportunity_id %}">{{opportunity.opportunity_id}}</td>
						<td>{{opportunity.name}}</td>
						<td>{{opportunity.account}}</td>
						<td>{{opportunity.primary_contact}}</td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_contact' opportunity.opportunity_id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
</div>

{% endblock content %}